[submodule "external/epa-pebil-tools"]
	path = external/epa-pebil-tools
	url = git@bitbucket.org:epanalyticsrepos/epa-pebil-tools.git
	branch = development
[submodule "external/epa-inst-libs"]
	path = external/epa-inst-libs
	url = git@bitbucket.org:epanalyticsrepos/epa-inst-libs.git
	branch = bugfix/Issue202
